*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffd1ff;
}
h1{
    text-align: center;
    margin-top: 16%;
    color: #4b044b;
}
.button{
    background-color: #4b044bd4;
    border-radius: 27%;
    padding: 30px;
    color: #fed9fe;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    left: 44%;
    top: 40px;
    margin-right: 10px;
}
a{
    text-decoration: none;
}

