*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffd1ff;
    overflow-y: hidden;
}

.pojava{
    background-color: #fdc5fd;
    animation-name: pojava;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    opacity: 0%;
}
@keyframes pojava{
    0%{opacity: 0%;}
    20%{opacity: 100%;}
    80%{opacity: 100%;}
    100%{opacity: 0%;}
}
h1{
    background-color: #fdc5fd;
    font-size: 10rem;
    text-align: center;
    color: #4b044b;
}
img{
    position: relative;
    left: 37%;
    width: 350px;
    top: -60px;
}
/* .button{
    display: inline;
    background-color: #4b044bd4;
    border-radius: 30px;
    padding: 30px;
    color: #fed9fe;
    position: relative;
    top: -220px;
    left: 36%;
} */
