*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(56, 3, 141);
    color: white;
    padding: 25px;
}

.container{
    display: grid;
    height: auto;
}
.kartice{
    background-color: aquamarine;
    width: 200px;
    height: 300px;
    justify-content: space-around;
}