@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    font-family: 'Varela Round', sans-serif;;
}


#telegram{
    font-size: 2rem;
    color: red;
}
#car{
    color: blue;
    font-size: 4rem;
}
.container{
    line-height: 1rem;
    letter-spacing: 2rem;
    word-spacing: 0.7;
    font-weight: 500;
}