.prvakocka{
    margin: 50px;
    border: 1px solid gray;
    width: 720px;
    height: 400px;
    border-radius: 15px;
}

.ispis{
    font-size: large;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 200px;

}



