* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(252, 104, 227);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    background-color: white;
    border-radius: 1.5rem;
    border: none;
    padding: 0.5rem;
    font-size: 1.8rem;
    outline: none;
  }
  .button {
    background-color: white;
    border-radius: 50%;
    color: rgb(32, 149, 199);
    transition: all 0.3 ease-in-out;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  
  .button:hover {
    color: white;
    background-color: rgb(32, 149, 199);;
  }
  .fa-plus-circle {
    margin-top: 0.3rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .select {
    background-color: white;
    border-radius: 1.5rem;
    border: none;
    overflow: hidden;
    height: 3.2rem;
    position: relative;
  }
  select {
    outline: none;
    border: none;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
  }
  .select::after {
    content: "\25BC";
    position: absolute;
    background: rgb(32, 149, 199);;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .options {
    background-color: white;
    border-radius: 1.5rem;
    border: none;
    padding: 0.5rem;
    overflow: hidden;
    height: 3.2rem;
  }
  #toDoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 50px;
  }
  .lista {
    width: 250px;
    background-color: white;
    color: rgb(32, 149, 199);;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    height: 30px;
    margin-bottom: 15px;
  }
  .deletebtn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(32, 149, 199);;
    color: white;
    box-shadow: none;
    border: none;
  }
  .deletebtn:hover {
    color: rgb(32, 149, 199);;
    background-color: white;
  }