.main{
    position: relative;
    background-color: yellow;
    width: 50vw;
    height: 90vh;
    margin-top: 10px;
}
.box1{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: aqua;
    top: 30px;
    left: 20px;
    z-index: 1;
}
.box2{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    left: 40px;
    top: 60px;
    z-index: 3;
}
    
.box3{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: green;
    left: 60px;
    top: 90px;
    /* z-index: 1; */
}